<ons-page id="rank_html"
          class="rank-page"
          ng-device-backbutton="main_back()"
          ng-init="">


    <ons-toolbar>

        <div class="left">
            <ons-toolbar-button ng-click="app.menu.open()" class="menu-open">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <ons-icon icon="ion-navicon" fixed-width="true"></ons-icon>
                </span>
            </ons-toolbar-button>
        </div>

        <div class="center">
            排行
        </div>


    </ons-toolbar>

    <ons-list modifiew="inset" ng-show="ctl_rank.status.show_yesterday_data===true">

      <ons-list-header>昨日統計</ons-list-header>
      <ons-list-item>昨日得分:{{ctl_rank.status.yesterday_score}}</ons-list-item>
      <ons-list-item>昨日設定目標:{{ctl_rank.status.yesterday_target}}</ons-list-item>
      <ons-list-item>昨日單字學習完成數:{{ctl_rank.status.yesterday_done_learn_flashcard}}</ons-list-item>
      <ons-list-item>昨日單字筆記完成數:{{ctl_rank.status.yesterday_done_take_note}}</ons-list-item>
      <ons-list-item>昨日單字測驗完成數:{{ctl_rank.status.yesterday_done_test_select}}</ons-list-item>
      <ons-list-header>昨日目標達成難度</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3progress" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-container w3-round w3-blue" style="width:{{ctl_rank.status.hard_target}}%">{{ctl_rank.status.hard_target}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header>昨日單字學習達成率</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3progress" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-container w3-round w3-blue" style="width:{{ctl_rank.status.rate_learn_flashcard}}%">{{ctl_rank.status.rate_learn_flashcard}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header>昨日單字筆記達成率</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3progress" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-container w3-round w3-blue" style="width:{{ctl_rank.status.rate_take_note}}%">{{ctl_rank.status.rate_take_note}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header>昨日單字測驗達成率</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3progress" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-container w3-round w3-blue" style="width:{{ctl_rank.status.rate_test_select}}%">{{ctl_rank.status.rate_test_select}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>

    <ons-list modifiew="inset" ng-show="ctl_rank.status.show_total_data===true">
    <ons-list-item>第一名:{{ctl_rank.status.all_data[0].name}} 總分:{{ctl_rank.status.all_data[0].total}}</ons-list-item>
    <ons-list-item>第二名:{{ctl_rank.status.all_data[1].name}} 總分:{{ctl_rank.status.all_data[1].total}}</ons-list-item>
    <ons-list-item>第三名:{{ctl_rank.status.all_data[2].name}} 總分:{{ctl_rank.status.all_data[2].total}}</ons-list-item>
    <ons-list-item>第四名:{{ctl_rank.status.all_data[3].name}} 總分:{{ctl_rank.status.all_data[3].total}}</ons-list-item>
    <ons-list-item>第五名:{{ctl_rank.status.all_data[4].name}} 總分:{{ctl_rank.status.all_data[4].total}}</ons-list-item>



    </ons-list>

	<!--ons-template id="score.html">


		<p style="text-align: center;">

		  <div class="right"
             ng-show="!CONFIG.control_group_version">
			 昨日得分:{{(ctl_rank.var.yesterday_target_data.learn_flashcard.done/ctl_rank.var.yesterday_target_data.learn_flashcard.target*0.2+ctl_rank.var.yesterday_target_data.test_select.done/ctl_rank.var.yesterday_target_data.learn_flashcard.target*0.5)*100}}
			<br>
            單字學習完成率:{{ctl_rank.var.yesterday_target_data.learn_flashcard.done/ctl_rank.var.yesterday_target_data.learn_flashcard.target}}
            <br>
			單字筆記完成率:{{ctl_rank.var.yesterday_target_data.take_note.done/ctl_rank.var.yesterday_target_data.learn_flashcard.target}}
            <br>
			單字測驗完成率:{{ctl_rank.var.yesterday_target_data.test_select.done/ctl_rank.var.yesterday_target_data.learn_flashcard.target}}
            <br>
            設定目標:{{ ctl_rank.var.yesterday_target_data.learn_flashcard.target }}
            <br>
            完成學習單字:{{ ctl_rank.var.yesterday_target_data.learn_flashcard.done }}
            <br>
            完成筆記數:{{ ctl_rank.var.yesterday_target_data.take_note.done }}
            <br>
            完成測驗量:{{ ctl_rank.var.yesterday_target_data.test_select.done }}
            <br>
        </div>
		</p>


	</ons-template>

	<ons-template id="score_total.html">

		<p style="text-align: center;">
		  <div class="right"
             ng-show="!CONFIG.control_group_version">
			name:{{ctl_rank.var.totalscore.uuid}}
			<br>
			累積得分:{{ctl_rank.var.totalscore.totalscore}}
 			</div>
		</p>


	</ons-template-->
  <ons-tabbar swipeable position="bottom">
    <ons-tab label=" 昨日得分"
       ng-click="ctl_rank.enter()">
      </ons-tab>
    <ons-tab label="累積得分"
        ng-click="ctl_rank.total()">
   </ons-tab>

  </ons-tabbar>


</ons-page>
