<ons-page id="rank_html"
          class="rank-page"
          ng-device-backbutton="main_back()"
          ng-init="">


    <ons-toolbar>

        <div class="left">
            <ons-toolbar-button ng-click="app.menu.open()" class="menu-open">
                <span class="toolbar-button--quiet navigation-bar__line-height" >
                    <ons-icon icon="ion-navicon" fixed-width="true"></ons-icon>
                </span>
            </ons-toolbar-button>
        </div>

        <div class="center">
            排行
        </div>


    </ons-toolbar>

    <ons-list modifiew="inset" ng-show="ctl_rank.status.show_yesterday_data===true" id="yesterday_rank">
      <ons-list-item><font color="red" size="6">第一名:{{ctl_rank_view.status.signal_data[0].name}} 總分:{{ctl_rank_view.status.signal_data[0].score}}</font></ons-list-item>
      <ons-list-item><font color="blue" size="5">第二名:{{ctl_rank_view.status.signal_data[1].name}} 總分:{{ctl_rank_view.status.signal_data[1].score}}</font></ons-list-item>
      <ons-list-item><font color="green" size="4">第三名:{{ctl_rank_view.status.signal_data[2].name}} 總分:{{ctl_rank_view.status.signal_data[2].score}}</font></ons-list-item>
      <ons-list-item><font  size="3">第四名:{{ctl_rank_view.status.signal_data[3].name}} 總分:{{ctl_rank_view.status.signal_data[3].score}}</font></ons-list-item>
      <ons-list-item><font  size="3">第五名:{{ctl_rank_view.status.signal_data[4].name}} 總分:{{ctl_rank_view.status.signal_data[4].score}}</font></ons-list-item>
      <ons-list-header>昨日得分</ons-list-header>
      <ons-list-item>得分:{{ctl_rank_view.status.self_data[0].score}}</ons-list-item>
      <ons-list-header>昨日目標達成難度</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3-progress-container" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-progressbar w3-round w3-blue" style="width:{{ctl_rank_view.status.hard_target}}%">{{ctl_rank_view.status.hard_target}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header>上次學習統計</ons-list-header>
      <ons-list-item>上次得分:{{ctl_rank_view.status.yesterday_score}}</ons-list-item>
      <ons-list-item>上次設定目標:{{ctl_rank_view.status.yesterday_target}}</ons-list-item>
      <ons-list-item>上次單字學習完成數:{{ctl_rank_view.status.yesterday_done_learn_flashcard}}</ons-list-item>
      <ons-list-item>上次單字筆記完成數:{{ctl_rank_view.status.yesterday_done_take_note}}</ons-list-item>
      <ons-list-item>上次單字測驗完成數:{{ctl_rank_view.status.yesterday_done_test_select}}</ons-list-item>

      <ons-list-header>上次單字學習達成率</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3-progress-container" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-progressbar w3-round w3-blue" style="width:{{ctl_rank_view.status.rate_learn_flashcard}}%">{{ctl_rank_view.status.rate_learn_flashcard}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header>上次單字筆記達成率</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3-progress-container" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-progressbar w3-round w3-blue" style="width:{{ctl_rank_view.status.rate_take_note}}%">{{ctl_rank_view.status.rate_take_note}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
      <ons-list-header>上次單字測驗達成率</ons-list-header>
      <ons-list-item>
        <ons-row>
          <ons-col >
            <div class="w3-progress-container" style="line-height: 2;margin: auto;padding-top: 1%;padding-bottom: 1%;">
              <div class="w3-light-grey w3-round">
                <div class="w3-progressbar w3-round w3-blue" style="width:{{ctl_rank_view.status.rate_test_select}}%">{{ctl_rank_view.status.rate_test_select}}%</div>
              </div>
              </div>
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>

    <ons-list modifiew="inset" ng-show="ctl_rank.status.show_total_data===true">
    <ons-list-item><font color="red" size="6">第一名:{{ctl_rank.status.all_data[0].name}} 總分:{{ctl_rank.status.all_data[0].total}}</font></ons-list-item>
    <ons-list-item><font color="blue" size="5">第二名:{{ctl_rank.status.all_data[1].name}} 總分:{{ctl_rank.status.all_data[1].total}}</font></ons-list-item>
    <ons-list-item><font color="green" size="4">第三名:{{ctl_rank.status.all_data[2].name}} 總分:{{ctl_rank.status.all_data[2].total}}</font></ons-list-item>
    <ons-list-item><font  size="3">第四名:{{ctl_rank.status.all_data[3].name}} 總分:{{ctl_rank.status.all_data[3].total}}</font></ons-list-item>
    <ons-list-item><font  size="3">第五名:{{ctl_rank.status.all_data[4].name}} 總分:{{ctl_rank.status.all_data[4].total}}</font></ons-list-item>


    </ons-list>


  <ons-tabbar swipeable position="bottom">
    <ons-tab label=" 昨日得分"
       ng-click="ctl_rank.enter()">
      </ons-tab>
    <ons-tab label="累積得分"
        ng-click="ctl_rank.total()">
   </ons-tab>

  </ons-tabbar>


</ons-page>
